@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position:relative;
    min-height:100%;
}

main{
    margin-bottom:300px;
}

footer.footer{
    padding:20px;
    font-size: 0.8em;
    position:absolute;
    bottom:0;
    width:100%;
}